<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
        	
      	<h:form id="newUser" prependId="false" >
		    <div id="messagesUser" class="messages">
		   	 	<p:messages showDetail="true" showSummary="false" autoUpdate="true" id="msg" />
	       	</div>
	       	
	       	<div id="boxNewUser" class="boxNewUser">
	       		<h:panelGrid columns="2" columnClasses="coluna120RightWithPaddingRigth,colunaLabel220" styleClass="formCadastroUser" border="0">
					<h:outputText value="#{messages['lb_name']}" />
					<p:inputText id="name" label="#{messages['lb_name_']}" required="true"  value="#{userMBean.user.name}" style="width:100%" />

					<h:outputText value="#{messages['lb_birth']}"  />
					<p:calendar showButtonPanel="true" navigator="true" showOn="button"
						value="#{userMBean.user.birthDate}"  label="#{messages['lb_birth_']}"
						required="true" 
						id="calendar"
						readonlyInput="true"
						oninputkeydown="Mascara(this,date);"
					    oninputkeypress="Mascara(this,date);" 
					    oninputkeyup="Mascara(this,date);"  
					    maxlength="10"
						pattern="dd/MM/yyyy"
						styleClass="width30px"
						yearRange="1950:2020"/>
						
					<h:outputText value="#{messages['lb_address']}" />
					<p:inputText id="address" label="#{messages['lb_address_']}" required="true"  value="#{userMBean.user.address}" style="width:100%" />
					
					<h:outputText value="#{messages['lb_email']}" />
					<p:inputText id="email" label="#{messages['lb_email_']}" required="true" value="#{userMBean.user.email}" style="width:100%" >
						<p:ajax event="blur" update="msg"  listener="#{userMBean.checkEmail}"  />  
						<p:ajax event="blur" update="msg"  listener="#{userMBean.existsEmail}" /> 
					</p:inputText>
					
					<h:outputText value="#{messages['lb_password']}" rendered="#{userMBean.showPassword}"/>
					<p:password id="senha" label="#{messages['lb_password_']}" required="true"  value="#{userMBean.user.password}"  size="27"  rendered="#{userMBean.showPassword}"/>
					
					<h:outputText value="#{messages['lb_language']}" />
					<p:selectOneMenu value="#{userMBean.user.language}" label="#{messages['lb_language_']}" required="true">
			            <f:selectItem itemLabel="#{messages['lb_select']}" itemValue="" />
			            <f:selectItem itemLabel="#{messages['lb_english']}" itemValue="en" />
			            <f:selectItem itemLabel="#{messages['lb_portuguese']}" itemValue="pt_BR" />
			        </p:selectOneMenu>
			        
					<h:outputText value="#{messages['lb_admin']}" rendered="#{userMBean.isAdmin}" />
					<p:selectOneMenu value="#{userMBean.user.admin}" label="#{messages['lb_admin_']}" required="true" rendered="#{userMBean.isAdmin}">
			            <f:selectItem itemLabel="#{messages['lb_select']}" itemValue="" />
			            <f:selectItem itemLabel="#{messages['lb_yes']}" itemValue="#{true}" />
			            <f:selectItem itemLabel="#{messages['lb_no']}" itemValue="#{false}" />
			        </p:selectOneMenu>
				</h:panelGrid>
				
				<br />
			
				<div class="messages" align="center">
					<p:commandButton value="#{messages['lb_post']}"
									 id="post" action="#{userMBean.save}" ajax="false"
									 update="msg"
									 styleClass="button"
									 oncomplete="if (#{not facesContext.validationFailed}) PF('newUserModal').hide()">
					</p:commandButton>
					<p:commandButton value="#{messages['lb_back']}" immediate="true" id="voltarAdmin" ajax="false"  styleClass="button" action="#{userMBean.cancelLogged}" rendered="#{userMBean.isAdmin}"/>
					<p:commandButton value="#{messages['lb_back']}" immediate="true" id="voltar" ajax="false"
									 styleClass="button" oncomplete="PF('newUserModal').hide();"
									 rendered="#{!userMBean.isAdmin}"/>
				</div>
	       	</div>
		</h:form>
</ui:composition>
