<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        template="../template/templateAPP.xhtml" >
        
        
        <ui:define name="contentAPP">
	        <h:form prependId="false" target="_blank">
	        	<h:outputText value="#{messages['lb_user_list']}" styleClass="boxTitulo"/>
	        	
	        	<div align="center" style="width: 100%;" >
	        		<div id="messages" class="messages" style="width: 50%;">
			       		<p:messages showDetail="true" showSummary="false"  autoUpdate="true" id="mensagem"/>
			       	</div>
	        	
	        		<h:panelGrid columns="3" width="50%" border="0" columnClasses="alignLeft,alignRight,alignRight">
		        		<p:commandButton value="#{messages['lb_delete']}" styleClass="button" onclick="confirmation.show()" />
		        		<p:commandButton value="#{messages['lb_new']}" 
		        			action="#{userMBean.newAdminUser}"  
		        			styleClass="button" 
		        			update=":newUser" 
		        			id="newButton"
		        			oncomplete="newUserModal.show()" >
		        		</p:commandButton>
		        		<p:commandButton value="#{messages['lb_print']}" styleClass="button"  actionListener="#{userMBean.print}" ajax="false" />
				    </h:panelGrid>
				   
				    <p:dataTable var="cat" value="#{userMBean.userList}" style="width:50%" id="userList"
				    		paginatorAlwaysVisible="false" paginator="true" emptyMessage="#{messages['lb_empty_list']}"
				    		rows="10" selection="#{userMBean.selectedUsers}" rowKey="#{cat}" 
				    		paginatorPosition="botton" >
				    	
				    	<p:column selectionMode="multiple" style="text-align:center;width:5%"  />
				        
				        <p:column sortBy="#{cat.name}" >
				            <f:facet name="header">
				                <h:outputText value="#{messages['lb_name_']}" />
				            </f:facet>
				            <h:outputText value="#{cat.name}" />
				        </p:column>
				        
				        <p:column sortBy="#{cat.email}" >
				            <f:facet name="header">
				                <h:outputText value="#{messages['lb_email_']}" />
				            </f:facet>
				            <h:outputText value="#{cat.email}" />
				        </p:column>
				        
				        <p:column sortBy="#{cat.admin}" >
				            <f:facet name="header">
				                <h:outputText value="#{messages['lb_admin_']}" />
				            </f:facet>
				            <h:outputText value="#{cat.admin}" />
				        </p:column>
				
				        <p:column style="width:5%">
				        	<p:commandLink action="#{userMBean.edit}" update=":newUser" oncomplete="newUserModal.show();" id="editButton">
				        		<f:setPropertyActionListener value="#{cat}" target="#{userMBean.user}" />  
								<p:graphicImage value="#{messages['img_update']}" style="border: 0px" />
							</p:commandLink>
				        </p:column>
				    </p:dataTable>
				</div>	
				<p:confirmDialog message="#{messages['lb_multiple_exclusion']}" header="#{messages['lb_header_confirmation']}" severity="alert" widgetVar="confirmation">  
                  	<div align="center">
				        <p:commandButton value="#{messages['lb_yes']}" update="userList,mensagem" oncomplete="confirmation.hide()" action="#{userMBean.delete}"/>  
				        <p:commandButton value="#{messages['lb_no']}" onclick="confirmation.hide()" type="button" action="#{userMBean.cancelLogged}"/>   
	                 </div> 
	    		</p:confirmDialog>  		
			</h:form>  
			<p:dialog header="#{messages['lb_user_registration']}" resizable="false" widgetVar="newUserModal" modal="true" appendToBody="true" height="300" width="480">  
			    <ui:include src="/include/formUser.xhtml" />
			</p:dialog>
        </ui:define>
</ui:composition>