<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        template="../template/templateAPP.xhtml" >
        
        
        <ui:define name="contentAPP">
	        <h:form prependId="false">
	        	<h:outputText value="Lista de Livros" styleClass="boxTitulo"/>
	        	
	        	<div align="center" style="width: 100%;" >
	        		<div id="messages" class="messages" style="width: 50%;">
			       		<p:messages showDetail="true" showSummary="false"  autoUpdate="true" id="mensagem"/>
			       	</div>
	        	
	        		<h:panelGrid columns="2" width="50%" border="0" columnClasses="alignLeft,alignRight">
		        		<p:commandButton value="Excluir" styleClass="button" onclick="confirmation.show()" />
		        		<p:commandButton value="Novos" 
		        			action="#{bookMBean.newBook}"  
		        			styleClass="button" 
		        			update=":newBook" 
		        			id="newButton"
		        			oncomplete="newBookModal.show()" >
		        		</p:commandButton>
				    </h:panelGrid>
				   
				    <p:dataTable var="cat" value="#{bookMBean.bookList}" style="width:50%" id="bookList"
				    		paginatorAlwaysVisible="false" paginator="true" emptyMessage="Lista de Livros vazia"
				    		rows="10" selection="#{bookMBean.selectedBooks}" rowKey="#{cat}" 
				    		paginatorPosition="botton" >
				    	
				    	<p:column selectionMode="multiple" style="text-align:center"  />
				        
				        <p:column sortBy="#{cat.title}" >
				            <f:facet name="header">
				                <h:outputText value="Titulo" />
				            </f:facet>
				            <h:outputText value="#{cat.title}" />
				        </p:column>
				        
				        <p:column sortBy="#{cat.author}" >
				            <f:facet name="header">
				                <h:outputText value="Autor" />
				            </f:facet>
				            <h:outputText value="#{cat.author}" />
				        </p:column>
				        
				        <p:column >
				        	<p:commandLink action="#{bookMBean.edit}" update=":newBook" oncomplete="newBookModal.show();" id="editButton">
				        		<f:setPropertyActionListener value="#{cat}" target="#{bookMBean.book}" />  
								<p:graphicImage value="/resources/images/new_edit.png" style="border: 0px" />
							</p:commandLink>
				        </p:column>
				    </p:dataTable>
				</div>
				<p:confirmDialog message="Confirma a Exclusão dos Livros selecionados?" header="Confirmação" severity="alert" widgetVar="confirmation">  
                  	<div align="center">
				        <p:commandButton value="Sim" update="bookList,mensagem" oncomplete="confirmation.hide()" action="#{bookMBean.delete}"/>  
				        <p:commandButton value="Não" onclick="confirmation.hide()" type="button" />   
	                 </div> 
	    		</p:confirmDialog>  		
			</h:form>  
			<p:dialog header="Cadastro de Livro" resizable="false" widgetVar="newBookModal" modal="true" appendToBody="true" height="300">  
			    <ui:include src="/include/formBook.xhtml" />
			</p:dialog>
        </ui:define>
</ui:composition>