<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view id="view">
	<h:head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="#{facesContext.externalContext.request.contextPath}/resources/images/book.ico" type="image/x-icon" />
		<link rel="stylesheet" href="#{facesContext.externalContext.request.contextPath}/resources/css/default.css" type="text/css" />
		<script type="text/javascript" src="#{facesContext.externalContext.request.contextPath}/resources/js/formaters.js"></script>
		<script type="text/javascript" src="#{facesContext.externalContext.request.contextPath}/resources/js/functions.js"></script>
		<h:outputScript name="calendar.js" library="js" />
		<title>#{messages['lb_title_site']}</title>
	</h:head>

	<h:body>
		<div id="container">
			<h:panelGrid styleClass="boxLoginMessage" >
				<p:messages showDetail="true" showSummary="false" autoUpdate="true" id="msgLogin" />
			</h:panelGrid>
			<ui:include src="/include/login.xhtml" />
			
			<div id="footer">
				#{messages['lb_footer']}
			</div>
		</div>
		<p:dialog header="#{messages['lb_user_registration']}" resizable="false" widgetVar="newUserModal" modal="true" height="300" width="480">  
		    <ui:include src="/include/formUser.xhtml" />
		</p:dialog>  
	</h:body>
</f:view>
</html>